@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans|Noto+Sans+KR&display=swap');

h2 {
	color: #fff;
	font-size: 48px;
	font-family: Noto Sans;
	margin: 0;
}

p, span {
	font-family: Noto Sans;
	line-height: 30px;
	color: #fff;
	font-size: 1.3em;
}

.home-area {
	background-image: url(../img/bg_2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.home-area h2 {
	color: #fff;
	font-size: 120px;
	font-family: Noto Sans;
	text-align : right;
	line-height : 1;
	margin: 0;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
};

.wrapper > .banner-area > p {
	text-align : right;	
}

.banner-area {
	text-align : right;	
}

.banner-area > span {
	font-size: 25px;
	text-shadow: 3px 2px 2px gray;
    text-align : right;	
}

/*
		About-Area
*/

.about-area {
	background-image: url(../img/product/02.jpg);
	-webkit-background-size: cover;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center center;
}

.about-area > div > h2{
	text-align: center;
}

.price_text {
	color : #000;
}

.header_text {
	color : #000;
	font-weight: 540;
	font-size : 3em;
}

.body_text {
	color : #404B7D;
	font-size : 1.4em;
}

.reply_text {
	color : #000;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: oblique;
}

.portfolio-area {
	background-image: url(../img/product/01.jpg);
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center center;
}

.services-area {
	background-image: url(../img/bg_5.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.contact-area {
	background-image: url(../img/bg_6.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

/* .contact-area > input[type=text], .contact-area > input[type=email]{
  width : 30%;
  height : 40px;
  padding : 0 20px;
}

.contact-area textarea {
  width : 30%;
  padding : 10px 20px;
} */

/* .contact-area input[type=submit] {
  background : saddlebrown;
  padding : 10px 50px;
  color : #fff;
  font-size : 17px;
  text-transform: uppercase;
  border : 0;
}
 */
.btnBlock {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
}

.productBtn {
	font-size: 15px;
	font-weight: 700;
	cursor: pointer;
	margin: 0 auto;
	border: 1px solid #FFF;
	width: 120px;
	height: 25px;
	padding: 10px 30px;
	border-radius: 10px;
	text-align: center;
	transition: 1s;
	background: #000;
	color: #fff;
}

.productBtn:hover {
	font-size: 17px;
	font-weight: 800;
	cursor: pointer;
	margin: 0 auto;
	border: 1px solid #FFF;
	width: 120px;
	height: 25x;
	padding: 10px 30px;
	border-radius: 10px;
	text-align: center;
	transition: 1s;
}

/* responsive.css */
@media handheld, only screen and (max-width: 767px) {
	.wrapper {
		width: 90%;
	}
	#navbar>ul>li {
		font-size: 30px;
	}
	.home-area h2 {
		font-size: 130px;
	}
	h2 {
		font-size: 130px;
	}
	.banner-area span {
		font-size: 45px;
		line-height: 1.3;
	}
	.about-area p, .portfolio-area p, .services-area p, .contact-area p {
		line-height: 130%;
		font-size: 60px;
	}
	.contact-area input[type=text], .contact-area input[type=email] {
		width: 85%;
		height: 30px;
	}
	.contact-area textarea {
		width: 85%;
	}
	.about-area {
		-webkit-background-size: cover;
		background-position: center center;
	}
	.portfolio-area {
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-size: 100vh;
		background-position: center center;
	}
	.benner-open {
		font-size: 60px;
		cursor: pointer;
		margin: 0 auto;
		border: 5px solid #FFF;
		color : #fff;
		font-weight : 600;
		width: 250px;
		padding: 10px 30px;
		border-radius: 10px;
		text-align: center;
		transition: 1s;
	}
	.benner-open:hover {
		background: #FFF;
		color: #EBA9B3;
	}
	.pp-tableCell>.wrapper>h2 {
		font-size: 90px;
		margin-top: -300px;
		text-align: center;
	}
	.productBtn {
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
		margin: 0 auto;
		margin-bottom: 100px;
		border: 1px solid #FFF;
		width: 250px;
		height: 60px;
		padding: 10px 30px;
		border-radius: 10px;
		text-align: center;
		transition: 1s;
		background: #FFF;
		color: #000;
	}
	.productBtn:hover {
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
		margin: 0 auto;
		margin-bottom: 100px;
		border: 1px solid #FFF;
		width: 250px;
		height: 60px;
		padding: 10px 30px;
		border-radius: 10px;
		text-align: center;
		transition: 1s;
		background-color: rgba(255, 255, 255, 0.5);
		color: #ECD123;
	}
}

@media handheld, only screen and (min-width: 767px) and (max-width: 1024px) {
	.home-area {
		background-size: cover;
	    background-position: left center;
    }
}

@media handheld, only screen and (min-width: 768px) and (max-width: 991px) {
	.wrapper {
		width: 90%;
	}
	#navbar>ul>li {
		font-size: 30px;
	}
	.home-area h2 {
		font-size: 130px;
	}
	h2 {
		font-size: 130px;
	}
	.banner-area span {
		font-size: 45px;
		line-height: 1.3;
	}
	.about-area p, .portfolio-area p, .services-area p, .contact-area p {
		line-height: 130%;
		font-size: 60px;
	}
	.contact-area input[type=text], .contact-area input[type=email] {
		width: 85%;
		height: 60px;
	}
	.contact-area textarea {
		width: 85%;
		height: 140px;
	}
	.benner-open {
		font-size: 60px;
		cursor: pointer;
		margin: 0 auto;
		border: 5px solid #FFF;
		width: 250px;
		padding: 10px 30px;
		border-radius: 10px;
		text-align: center;
		transition: 1s;
	}
	.benner-open:hover {
		background: #FFF;
		color: #EBA9B3;
	}
	.about-area {
		-webkit-background-size: cover;
		background-position: center center;
	}
	.portfolio-area {
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-size: 100vh;
		background-position: center center;
	}
	.pp-tableCell>.wrapper>h2 {
		font-size: 90px;
		margin-top: -300px;
		text-align: center;
	}
	.productBtn {
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
		margin: 0 auto;
		margin-bottom: 100px;
		border: 1px solid #FFF;
		width: 250px;
		height: 60px;
		padding: 10px 30px;
		border-radius: 10px;
		text-align: center;
		transition: 1s;
		background: #FFF;
		color: #000;
	}
	.productBtn:hover {
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
		margin: 0 auto;
		margin-bottom: 100px;
		border: 1px solid #FFF;
		width: 250px;
		height: 60px;
		padding: 10px 30px;
		border-radius: 10px;
		text-align: center;
		transition: 1s;
		background-color: rgba(255, 255, 255, 0.5);
		color: #ECD123;
	}
}

/*
  Full Screen Navbar
  Date : 20190522
  Director : �쟾�삎�룞
*/
.overlay {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .9);
	height: 100vh;
	transform: scale(0);
	transition: .5s;
}

.content {
	position: relative;
	top: 20%;
	text-align: center;
}

.overlay .content a {
	transition: 1s;
	text-decoration: none;
	display: block;
	color: #FFF;
	font-size: 3em;
	margin-bottom: 2%;
}

.overlay .content a:hover {
	color: #fc00ff;
}

.overlay .close {
	position: absolute;
	top: 0px;
	color: #FFF;
	right: 30px;
	text-decoration: none;
	transition: 1s;
	font-size: 6em;
}

.overlay .close:hover {
	color: #fc00ff;
}

.benner-open {
	font-size: 23px;
	cursor: pointer;
	margin: 0 auto;
	border: 5px solid #FFF;
	color : #fff;
	font-weight : 600;
	width: 100px;
	padding: 10px 30px;
	border-radius: 10px;
	text-align: center;
	transition: 1s;
}

.benner-open:hover {
	background: #FFF;
	color: #EBA9B3;
}

/*
  Footer
  Date : 20190522
  Director : 전형동
*/
.footer-wrapper {
	bottom: 0;
	color: #fff;
	position: fixed;
	transform: translateY(100%);
	transition: all ease-in-out 0.5s;
	width: 100%;
}

.button-wrapper {
	margin: -2.5rem 0 0;
	text-align: center;
}

.button-wrapper>button {
	margin: 0;
	outline: none;
}

.footer-content {
	background: #000;
	padding: 1rem;
}

.button.hollow.white {
	border: 1px solid #fff;
	color: #fff;
}

.footer-wrapper.open {
	transform: translateY(0);
}

.contact-details>h6 {
	font-size: 1.3em;
}

.contact-details>p {
	font-size: 13px;
}

.input-group>h6 {
	font-size: 1.3em;
	line-height: 3;
}

.input-group>.input-group-field {
	width: 100%;
}

.input-group>textarea {
	width: 100%;
}

.footer-center>.baseline>.newsletter>h6 {
	font-size: 1.3em;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form
	{
	max-width: 75rem;
	margin-right: auto;
	margin-left: auto;
	color: #e6e6e6;
	padding: 3.75rem 0;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form::before,
	.three-column-footer-contact-form-container .three-column-footer-contact-form::after
	{
	display: table;
	content: ' ';
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form::after
	{
	clear: both;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form a
	{
	color: #e6e6e6;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left
	{
	width: 100%;
	float: left;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
	display: table;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .baseline
	{
	display: table-cell;
	vertical-align: bottom;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .contact-details p
	{
	font-size: 0.8rem;
	margin-bottom: 0;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .input-group
	{
	padding: 2rem 0 0 0;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .input-group input
	{
	border-bottom: 2px solid #cacaca;
}

@media print , screen and (min-width: 40em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left
		{
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left:last-child:not
	(:first-child ) {
	float: right;
}

@media print , screen and (min-width: 64em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left
		{
		width: 25%;
		float: left;
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}
}

@media print , screen and (min-width: 64em) and (min-width: 40em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left
		{
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

@media print , screen and (min-width: 64em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left:last-child:not
		(:first-child ) {
		float: right;
	}
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center
	{
	text-align: left;
	width: 100%;
	float: left;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
	display: table;
}

@media print , screen and (min-width: 40em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center
		{
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center:last-child:not
	(:first-child ) {
	float: right;
}

@media print , screen and (min-width: 64em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center
		{
		width: 33.33333%;
		float: left;
		padding-right: 0.625rem;
		padding-left: 0.625rem;
		position: relative;
		left: 8.33333%;
	}
}

@media print , screen and (min-width: 64em) and (min-width: 40em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center
		{
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

@media print , screen and (min-width: 64em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center:last-child:not
		(:first-child ) {
		float: right;
	}
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .baseline
	{
	display: table-cell;
	vertical-align: bottom;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .input-group
	{
	padding: 0.5rem 0 0 0;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .input-group input
	{
	border-bottom: 2px solid #cacaca;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .input-group textarea
	{
	border-bottom: 2px solid #cacaca;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right
	{
	text-align: right;
	width: 100%;
	float: left;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
	display: table;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right .baseline
	{
	display: table-cell;
	vertical-align: bottom;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right h2
	{
	color: #fefefe;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right p
	{
	font-size: 0.8rem;
	margin-bottom: 0;
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right .fa
	{
	padding: 1rem 0 1rem 0.2rem;
}

@media print , screen and (min-width: 40em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right
		{
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right:last-child:not
	(:first-child ) {
	float: right;
}

@media print , screen and (min-width: 64em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right
		{
		width: 25%;
		float: left;
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}
}

@media print , screen and (min-width: 64em) and (min-width: 40em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right
		{
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

@media print , screen and (min-width: 64em) {
	.three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right:last-child:not
		(:first-child ) {
		float: right;
	}
}



/*
	slide text
*/
#carousel_inner {
    float: left;
    width: 350px;
    height : 200px;
    overflow: hidden;
    background: #F0F0F0;
}

#carousel_ul > li > p {
	margin-top : 20px;
    width: 300px;
    height: 110px;
}

#carousel_ul {
    position: relative;
    left: -210px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 9999px;
    padding-bottom: 10px;
}

#carousel_ul li {
    float: left;
    width: 300px;
    padding: 0px;
    height: 200px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#carousel_ul li p {
	text-align: center;
    margin-bottom: -4px;
    cursor: pointer;
    cursor: hand;
    border: 0px;
}

#left_scroll, #right_scroll {
    float: left;
    height: 130px;
    width: 35px;
    margin-top: 50px;
    margin-left: 20px;
}

#left_scroll p, #right_scroll p {
    border: 0;
 /* remove the default border of linked image */
/*styling*/
    cursor: pointer;
    cursor: hand;
}

#left_scroll p {
    width: 25px;
    height: 25px;
}

#right_scroll p {
    width: 25px;
    height: 25px;
}